<div class="profile-body">
  <div class="profile-wraper">
    <div class="profile-info">
      <%- include ('layouts/info.ejs') %>
      <hr />
      <%- include ('layouts/menu.ejs') %>
    </div>
    <div class="profile-box">
      <div class="box-content">
        <h2>Change Photo</h2>
        <% if (message) { %>
        <p><%= message %></p>
        <% } %>
        <hr />
        <div class="form-wraper">
          <form
            action="/gallery-update"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="">Select Gallery Photo</label>
              <div class="profile-photo gallery"></div>
              <hr />
              <label class="upload">
                <i class="fa fa-photo uplaod"></i>
                <input
                  id="gallery_photo"
                  multiple
                  name="gallery"
                  style="display: none"
                  type="file"
                />
              </label>
            </div>
            <div class="form-group">
              <button type="submit">Update</button>
            </div>
          </form>

          <div class="gallery-area">
            <% user.gallery.reverse().forEach(gallery => { %>
            <div class="gallery-item">
              <img src="./media/gallery/<%= gallery %>" alt="" />
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
