<div class="profile-body">
  <div class="profile-box">
    <div class="box-content">
      <h2>Reset Password</h2>
      <% if (message) { %>
      <p><%= message %></p>
      <% } %>
      <hr />
      <div class="form-wraper">
        <form action="/reset-password/<%= token %>" method="POST">
          <div class="form-group">
            <label for="">New Password</label>
            <input name="new_password" type="password" />
          </div>
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input name="confirm_password" type="password" />
          </div>

          <div class="form-group">
            <button class="resend-link" type="submit">Reset Password</button>
          </div>
        </form>
      </div>

      <div class="utility">
        <a href="/forgot-password">Forgot password</a>
        <a href="/register">Create an account</a>
      </div>
    </div>
  </div>
</div>
